<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../components/imports.ejs') %>
    <link rel="stylesheet" href="css/services.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('../components/nav.ejs') %>
    <h1><%= title %></h1>


    <div class="container-fluid mb-5">
        <div class="row">
            <div class="col-12" id="header">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">limpiezas</h5>
                        <a href="/service1"><img src="https://via.placeholder.com/150" alt="..."></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ortodoncia</h5>
                        <a href="/service2"><img src="https://via.placeholder.com/150" alt="..."></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Protesis</h5>
                        <a href="/service3"><img src="https://via.placeholder.com/150" alt="..."></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Urgencias</h5>
                        <a href="/service4"><img src="https://via.placeholder.com/150" alt="..."></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body" id="head-box">
                        <p class="mx-2">Lorem ipsum dolor sit amet.</p>
                        <p class="mx-2">Lorem ipsum dolor sit amet.</p>
                        <p class="mx-2">Lorem ipsum dolor sit amet.</p>

                    </div>
                </div>  
            </div>
        </div>
    </div>




    <%- include('../components/footer.ejs') %>
    <script src="js/services.js"></script>
    
</body>
</html>