<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('components/imports.ejs') %>
        <link rel="stylesheet" href="css/landing.css">
        <title>
            <%=title%>
        </title>
</head>

<body>
    <%- include('components/nav.ejs') %>
        <h1>
            <%=title%>
        </h1>
        <div class="animated-logo">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_9wj3pxax.json" background="transparent"
                speed="1.5" style="width: 350px; height: 350px;" loop autoplay></lottie-player>
        </div>
        <!-- <img id="imgBT" src="img/broken-tooth.png" alt="..."> -->
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="img/broken-tooth.png" class="img-fluid rounded-start" alt="img/broken-tooth">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card" style="width: 19rem;">
                        <img src="img/broken-tooth.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Agende su hora!</h5>
                            <p class="card-text">
                                Revise las horas disponibles de nuestros especialistas
                            </p>
                            <a href="/cal2" class="btn btn-primary">logo calendario</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Title</h5>
                            <p class="card-text">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia, vitae!
                            </p>
                            <a href="#" class="btn btn-primary">reserva horas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <%- include('components/footer.ejs') %>
        <script src="js/landing.js"></script>

</body>

</html>